.search-bar{
  position: inherit;
  display: inline-flex;
  overflow: hidden;
  width: 32px;
  background-color: #fff;
  box-sizing: border-box;
  transition: width 0.4s;
  -webkit-transition: width 0.4s;
  &::before{
    content:"";
    position:absolute;
    display:inline-block;
    width:32px;
    height:32px;
    cursor: pointer;
    vertical-align: top;
    outline: none;
    box-sizing: border-box;
    border: solid #eee 1px;
    border-radius:50%;
    background-color: transparent;
  }
  &.show::before{
    display: none;
  }
  &.show{
    width:240px;
  }
  &.show .search-bar__input{
    padding: 5px 15px;
    display: block;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 32px;
  }
  &__button{
    height: 32px;
    width:32px;
    transform:translate(8px, 0px);
  }
}
