.search-bar{
  &::before{
    content:"";
    position:inherit; /* 자식 요소인 가상 요소가 절대 위치를 가지도록 */
    display:inline-block;
    width:32px;
    height:32px;
    right:0;
    cursor: pointer;
    vertical-align: top;
    outline: none;
    transition: width 0.4s;
    -webkit-transition: width 0.4s;
    box-sizing: border-box;
    border: solid #eee 1px;
    border-radius:50%;
    background-color: transparent;
    // padding: 5px 10px;
  }
  &.show::before{
    width:200px;
    border-radius: 20px;
  }
  &__input{
    position:absolute;
    transform: translate(-200px, 5.5px);
    padding:0 15px;
    border: 0;
    background-color: transparent;
    font-size: 0.875em;
    line-height: 1;
    outline: none;
    box-sizing: border-box;
    overflow:hidden;
    float:left;

  }
  &__button{
    position: absolute;
    transform:translate(-24px, 7px);
    display: inline-block;
  }
}
